// Desktop-specific output configuration
// This file is automatically included in the main config.kdl for the desktop host

output "HDMI-A-1" {
    mode "3840x2160@60.000"
    scale 1.3
    transform "90"
    position x=0 y=0

    layout {      
        preset-window-heights { 
            proportion 0.315
            proportion 0.5
            proportion 0.685
            proportion 1.0
        }
        default-column-width { proportion 1.0; }
        preset-column-widths {
            proportion 0.5
            proportion 1.0
        }
        struts {
            left 0
            right 0
            top 15
            bottom 15
        }
    }

       
}

output "DP-1" {
    mode "2560x1440@170.002"
    scale 1
    transform "normal"
    variable-refresh-rate on-demand=true
    focus-at-startup
    position x=1665 y=600
}


// Browser
spawn-sh-at-startup "zen-beta || zen-twilight"
window-rule {
    match app-id=r#"^zen-twilight$"#
    match app-id=r#"^zen-beta$"#
    exclude title=r#"^Picture-in-Picture$"#
    open-on-output "HDMI-A-1"
    open-on-workspace "1"
    // max-height 1000
    tiled-state false
    default-window-height { proportion 0.685; }
    // default-window-height { fixed 2014 ; }
    // default-column-width { proportion 1.0; }
}
// Youtube Music 
spawn-at-startup "pear-desktop"
window-rule {
    match app-id=r#"^com\.github\.th_ch\.youtube_music$"#
    open-on-output "HDMI-A-1"
    open-on-workspace "1"
    // open-maximized false
    // default-window-height { proportion 0.315; }
    // default-window-height { fixed 924 ; }
    default-column-width { proportion 1.0; }
}



window-rule {
    match app-id=r#"^War Thundert$"#
    open-on-output "DP-1"
    open-maximized-to-edges true
    opacity 1.0
}

// Open the zen browser picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"^zen-twilight$"# title="^Picture-in-Picture$"
    match app-id=r#"^zen-beta$"# title="^Picture-in-Picture$"
    match app-id=r#"^zen$"# title="^Picture-in-Picture$"
    default-window-height { proportion 0.315; }
    default-column-width { proportion 1.0; }
    open-floating true
    default-floating-position x=0 y=0 relative-to="top-left"
    open-on-output "HDMI-A-1"
    opacity 1.0
}

