// Window rules for Niri
// These rules apply to all windows matching the specified criteria

// Video player opaque
window-rule {
    match app-id=r#"^org.gnome.Showtime$"#
    opacity 1.0
}

// Set Cursor and Zed IDE to full width
window-rule {
    match app-id=r#"^cursor$"#
    match app-id=r#"^dev\.zed\.Zed$"#

    default-column-width { proportion 1.0; }
}

// Zed popup/helper windows can report no title and get tiled fullscreen.
window-rule {
    match title="Zed — Settings"
    open-floating true
    default-window-height { proportion 0.80; }
    default-column-width { proportion 0.50; }
}

// Zed popup/helper windows can report no title and get tiled fullscreen.
window-rule {
    match title="(unset)"
    // match app-id="dev.zed.Zed"
    open-floating true
    open-on-output "DP-2"
    default-window-height { proportion 0.05; }
    default-column-width { proportion 0.15; }
    default-floating-position x=10 y=10 relative-to="top-right"
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match title=r#"^Proton Pass$"#

    block-out-from "screen-capture"

    open-floating true
    default-window-height { proportion 0.75; }
    default-column-width { proportion 0.3; }
    default-floating-position x=100 y=100 relative-to="top-right"

    opacity 0.90
    background-effect {
        blur true
    }
}

// Recommended window rules for DMS integration
// GNOME applications
window-rule {
    match app-id=r#"^org.gnome."#
    match app-id=r#"^gnome"#
    exclude app-id=r#"org.gnome.Showtime"#

    clip-to-geometry true
    opacity 0.9

    background-effect {
        blur true
    }
}

// Terminal applications
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    match app-id="org.gnome.NautilusPreviewer"

    default-column-width { proportion 0.4; }
}

layer-rule {
    match namespace="^dms:"
    // match namespace="^dms:bar$"
    match namespace="^dms:app-launcher$"

    background-effect {
        xray false
    }

    popups {
        background-effect {
            xray false
        }
    }
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="top-right"
}

window-rule {
    match app-id="cursor"
    opacity 0.90

    background-effect {
        blur true
    }
}


// layout {
//     background-color "00000020"
// }

window-rule {
    match app-id="zen"
    match app-id="zen-beta"
    match app-id="zen-twilight"
    match app-id="org.gnome"
    match app-id="dev.zed.Zed"


    draw-border-with-background false
    background-effect {
        blur true
    }

    popups {
        background-effect {
            blur true
        }
    }
}

window-rule {
    match app-id="zen"
    match app-id="zen-beta"
    match app-id="zen-twilight"
    geometry-corner-radius 15
}

window-rule {
    match app-id="com.github.th_ch.youtube_music"
    opacity 0.80

    background-effect {
        blur true
    }
}


// Open DMS windows (quickshell) as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    match app-id=r#"com.danklinux.dms"#
    open-floating true
}
